  /*Sfondo e font*/
  body {
    background: url(background.jpg);
    background-size: cover;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
  }

  /*Posizionamento logo Lim*/
  header, img {
    width: 50%;
    margin-left: 25%;
  }

  /*Colore e posizione titolo*/
  h1{
   margin-left: 10%;
   color: #00ff00;
  }

  /*Sfondo nero opaco*/
  body > div {
    background: rgba(0,0,0,0.6);
    padding: 5%;
    margin: 100px 200px;
    border-radius: 7px;
  }

  /*Sfondo della navbar*/
  nav {
    background-color: #00ff00;
    height: 40px;
    padding: 7px 40%;
  }

  /*Allineamento checkbox e relativo titolo*/
  h2 {
   display: inline-block;
  }

  /*Inserimento freccia dei <p>*/
  p::before {
   content: ' \2192';
  }

  /*Barra di carica per Gino22*/
 #statocaricaGino22 {
   background-color: orange;
   width: 400px;
   height: 30px;
   border-radius: 5px;
  }

  /*Barra di carica per Mike24*/
  #statocaricaMike24 {
   background-color: #00ff00;
   width: 600px;
   height: 30px;
   border-radius: 5px;
  }

  /*Barra di carica per Fede154*/
  #statocaricaFede154 {
   background-color: #e60000;
   width: 150px;
   height: 30px;
   border-radius: 5px;
  }
